.to-do-element{
    background-color: rgb(240, 247, 247);
    color: blue;
    text-align: left;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.to-do-element:nth-of-type(2n){
    background-color: rgb(227, 235, 235);
}
.add-task-area{
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(227, 235, 235);
    color: blue;
}



/* .to-do-section{
    padding: 40px;
    border: 1px solid red;
    margin:10px;
}
.add-task-area{
    padding: 20px;
    border: 1px solid black;
    margin:10px;
} */