body{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
}
h1{
    text-align: center;
    font-size: 40px;
    color: aquamarine;
    letter-spacing: 4px;
}
main{
    display:flex;
    margin-bottom:30px;
    border:2px solid rgb(206, 206, 222);
}
.main-section{
    width: 50%;
    text-align: center;
}

.hidden{
    display:none;
}

/* buttons */
 button{
    color: white;
    margin: 10px 0;
    padding: 10px;
    border: 2px solid black;
    border-radius:15px;
    font-size: 18px;
}
.add-timer, .btn-add-task, .btnStart, .form-start{
    background-color:rgb(109, 205, 14);
}
.delete-timer, .btn-delete-task, .form-cancel{
    background-color:rgb(239, 16, 16);
}
.btnEdit{
    background-color:rgb(21, 8, 168);
}
.btnReset{
    background-color:rgb(142, 121, 14);
}
footer{
    font-size: 16px;
}

