/*  CSS class names standard
__ means children of the element
-- means variation of the element

  CSS class pattern:
  ChildOfBodyTag__ChilfOfChildOfBodyTag__or--TagfunctionalityOFClass(use '-'' between words) ;examples below:
  main__section--timers-section
  main__section__btn-add-timer

  Only one exception to this rule:
  hidden class - property display:none   */
.header__menu__btn-download-again, .header__menu__error-message{
    margin-right: 10px;
}
.header__menu__error-message{
    overflow-wrap: anywhere;
}
.header__menu--error-menu{
    align-items: center;
    background-color: rgb(228, 98, 98);
    border: 2px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

