.hidden{
    display:none;
}
input, select{
    font-size: 18px;
}
.main__form__description{
    margin-bottom: 30px;
}
.main__form__description, .main__form__menu-buttons{
    margin-top: 30px;
}
.main__form__minutes-label, #minutes{
    margin-right: 10px;
}
.main__form--modal, .main__form--modal2 {
    background-color: rgb(232, 240, 212);   
    border-radius: 10px;   
    left: 35%;    
    padding: 0rem 3rem 3rem 3rem ;   
    position: fixed;     
    text-align: center;
    top: 25%;
    z-index: 2;
  }
  .main__form__overlay {
    backdrop-filter: blur(7px);   
    background-color: rgba(0, 0, 0, 0.8);   
    height: 100%;    
    left: 0;     
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  } 

  

