/*  CSS class names standard
__ means children of the element
-- means variation of the element

  CSS class pattern:
  ChildOfBodyTag__ChilfOfChildOfBodyTag__or--TagfunctionalityOFClass(use '-'' between words) ;examples below:
  main__section--timers-section
  main__section__btn-add-timer

  Only one exception to this rule:
  hidden class - property display:none   */
.main__section__add-task-form{
    align-items: center;
    background-color: rgb(227, 235, 235);
    border-bottom: 3px solid white;
    color: blue;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding: 20px 0px;  
}
.main__section__add-task-form-input, .main__section__add-task-form-label{
    margin-right: 10px;
}
.main__section__to-do-element{
    align-items: center;
    background-color: rgb(240, 247, 247);
    border-bottom: 3px solid white;
    color: blue;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: left;   
}
.main__section__to-do-element:nth-last-of-type(1){
    border-bottom: none;
}
.main__section__to-do-element:nth-of-type(2n), .main__section--to-do-section{
    background-color: rgb(227, 235, 235);
}






