/*  CSS class names standard
__ means children of the element
-- means variation of the element

  CSS class pattern:
  ChildOfBodyTag__ChilfOfChildOfBodyTag__or--TagfunctionalityOFClass(use '-'' between words) ;examples below:
  main__section--timers-section
  main__section__btn-add-timer

  Only one exception to this rule:
  hidden class - property display:none   */
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
}
footer{
    font-size: 16px;
}
h1{
    color: aquamarine;
    font-size: 40px;
    letter-spacing: 4px;
    margin: 10px;
    text-align: center;   
}
main{
    border:2px solid rgb(206, 206, 222);
    display:flex;
    margin-bottom:30px;   
}
.main__section--timers-section{  
    background-color: rgb(217, 234, 180);
    margin-right: 10px;
    text-align: center;
    width: 40%;
}
.main__section--to-do-section{
    margin-left: 10px;
    width: 60%;
}
menu{
    margin:0;
    padding: 0;
}

@media (max-width: 1000px){
    main{
        flex-direction: column;
    }
    .main__section--timers-section{
        margin:0px;
    }
    .main__section--timers-section, .main__section--to-do-section{
        width: 100%;    
    }
    .main__section--to-do-section{
        margin: 20px 0 0 0;
    }
}


